body{ 
    margin: 0;
    padding: 0;
    background: url(../assets/image/bg.jpg);
    background-size: cover;
    background-position: center;
}

.box{
    width: 450px;
    background: rgb(0, 32, 2);
    padding: 35px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 5%;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 15px;
}

.box img{
    border-radius: 60%;
    cursor: pointer;
    transition: 0.5s;

}

.box img :hover{
    transform: scale(1);
}

.box h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 4px;
}

.box h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;

}

.box p{
    text-align: justify;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;

}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    
}

.box li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: rgb(0, 55, 0);
    transform: scale(1.1);


}
